/* Import old css because want to replace properties */
@import url(stylesheet.css);
@import url(main.css);

@media screen and (min-width: 52.5em) {
  body:not(.page-template-page-listen) .container {
    background-color: var(--accent-blue-1);
    border-bottom: transparent;
  }
  body:not(.page-template-page-listen) nav#site-navigation {
    background-color: var(--accent-skyblue-1);
  }
  body:not(.page-template-page-listen) nav#site-navigation > div.nav-wrap > div > ul > li > :is(a, div[tab-index="0"]) {
    color: var(--main-white);
  }
  body:not(.page-template-page-listen) nav#site-navigation > div.nav-wrap > div > ul > li > :is(a,div[tab-index="0"]){
	font-size: 1rem;
	font-weight: 400;
	padding: 0.75rem 0.5rem 0.75rem;
	text-transform: none;
  }
  nav#site-navigation > div.nav-wrap > div > ul > li > div[tab-index="0"]:after, body:not(.page-template-page-listen) nav#site-navigation > div.nav-wrap > div > ul > li > div[tab-index="0"]:after {
	border-style: solid;
	border-color: white;
	border-width: 0px 1px 1px 0px;
	transform: rotate(45deg);
	width: 10px;
    height: 10px;
    top: 3px;
    right: -10px;
  }
  body:not(.page-template-page-listen) nav#site-navigation > div.nav-wrap > div > ul > li:hover > div[tab-index="0"]:after, body:not(.page-template-page-listen) nav#site-navigation > div.nav-wrap > div > ul > li:focus-within > div[tab-index="0"]:after{
	border-bottom-color: white;
	top: 3px;
    right: -10px;
  }
  body:not(.page-template-page-listen) nav#site-navigation > div.nav-wrap > div > ul > li:hover, body:not(.page-template-page-listen) nav#site-navigation > div.nav-wrap > div > ul > li:focus-within{
    background-color: var(--accent-skyblue-2);
  }
}
